<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/thirdparty/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/thirdparty/jquery-minicolors/jquery.minicolors.css">
    <link rel="stylesheet" href="assets/thirdparty/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/base.min.css">
    <script data-main="assets/js/main" src="assets/thirdparty/requirejs/require.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1>Telegram theme editor</h1>
        </header>
        <div class="row">
        	<div class="col-md-9 col-lg-9 hidden-xs hidden-sm" data-theme-scope>
        		<section id="telegram-wrapper" data-themeConfig-connection="mainBackground">
                    <!--Start titlebar-->
                    <div id="title-bar" data-themeConfig-connection="titleBar">
                        <ul>
                            <li class="minimize-button" data-themeConfig-connection="titleButtonIcon">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                                    <line y2="9.285714" x2="11.006943" y1="9.285714" x1="0" stroke-width="2" fill="none"/>
                                </svg>
                            </li>
                            <li class="maximize-button" data-themeConfig-connection="titleButtonIcon">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" height="9px" width="10px">
                                    <rect height="9px" width="10px" stroke-width="3" fill="none" />
                                </svg>
                            </li>
                            <li class="close-button" data-themeConfig-connection="titleCloseIcon">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="9px" height="9px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.526 32.526" style="enable-background:new 0 0 32.526 32.526;" xml:space="preserve">
                                    <polygon points="32.526,2.828 29.698,0 16.263,13.435 2.828,0 0,2.828 13.435,16.263 0,29.698 2.828,32.526 16.263,19.091 29.698,32.526 32.526,29.698 19.091,16.263 "/>
                                </svg>
                            </li>
                        </ul>
                    </div>
                    <!--End titlebar-->

                    <!--Start content columns-->
                    <div class="column left-column col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="toolbar">
                            <span class="hamburger">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="18" height="12" xmlns="http://www.w3.org/2000/svg">
                                    <line y1="1" y2="1" x1="0" x2="18" stroke-width="2" fill="none"/>
                                    <line y1="6" y2="6" x1="0" x2="18" stroke-width="2" fill="none"/>
                                    <line y1="11" y2="11" x1="0" x2="18" stroke-width="2" fill="none"/>
                                </svg>
                            </span>
                            <span class="search-bar">
                                <input type="text" placeholder="Search" disabled>
                            </span>
                        </div>

                        <div class="active-chats">
                            <ul>
                                <li class="active">
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Eva Summer</h4>
                                        <p>Reminds me of a Chinese proverb</p>
                                        <span class="properties">
                                            <span class="time">11:00</span>
                                            <span class="pin">
                                                <?xml version="1.0" encoding="iso-8859-1"?>
                                                <svg version="1.1" width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 125" fill="black" xml:space="preserve">
                                                    <path d="M60.655,80.21l1.281-17.826L88.497,35.82l8.405-0.604c3.367-0.9,4.104-3.656,1.641-6.121L70.907,1.458  c-2.467-2.468-5.218-1.727-6.121,1.639l-0.603,8.409L37.622,38.063l-17.831,1.285c-4.284,1.145-5.224,4.65-2.085,7.79  c0,0,13.729,13.731,14.793,14.795L5.693,88.819L0,100l11.186-5.692l26.885-26.803c1.066,1.062,14.793,14.794,14.793,14.794  C56.001,85.438,59.506,84.494,60.655,80.21z"/>
                                                </svg>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Alexandra Smith</h4>
                                        <p>This is amazing!</p>
                                        <span class="properties">
                                            <span class="time">10:00</span>
                                            <span class="unread">
                                                <span class="counter-wrapper">
                                                    <span class="counter-bg"></span>
                                                    <span class="counter-text">2</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Mike Apple</h4>
                                        <p>
                                            <img src="assets/img/src/smiley.png" alt="">
                                            <span class="sticker">Sticker</span>
                                        </p>
                                        <span class="properties">
                                            <span class="time">9:00</span>
                                            <span class="unread">
                                                <span class="counter-wrapper">
                                                    <span class="counter-bg inactive"></span>
                                                    <span class="counter-text">2</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4 class="group-chat">
                                            <?xml version="1.0" encoding="iso-8859-1"?>
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 640" xml:space="preserve">
                                                <path d="M337.454,232c33.599,0,61.092-27.002,61.092-60c0-32.997-27.493-60-61.092-60s-61.09,27.003-61.09,60  C276.364,204.998,303.855,232,337.454,232z M174.546,232c33.599,0,61.09-27.002,61.09-60c0-32.997-27.491-60-61.09-60  s-61.092,27.003-61.092,60C113.454,204.998,140.947,232,174.546,232z M174.546,276C126.688,276,32,298.998,32,346v54h288v-54  C320,298.998,222.401,276,174.546,276z M337.454,287.003c-6.105,0-10.325,0-17.454,0.997c23.426,17.002,32,28,32,58v54h128v-54  C480,298.998,385.312,287.003,337.454,287.003z"/>
                                            </svg>
                                            Evening Club
                                        </h4>
                                        <p><span class="sender">Eva:</span> <span class="file">Photo</span></p>
                                        <span class="properties">
                                            <span class="time">8:00</span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4 class="group-chat">
                                            <?xml version="1.0" encoding="iso-8859-1"?>
                                            <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 640" xml:space="preserve">
                                                <path d="M337.454,232c33.599,0,61.092-27.002,61.092-60c0-32.997-27.493-60-61.092-60s-61.09,27.003-61.09,60  C276.364,204.998,303.855,232,337.454,232z M174.546,232c33.599,0,61.09-27.002,61.09-60c0-32.997-27.491-60-61.09-60  s-61.092,27.003-61.092,60C113.454,204.998,140.947,232,174.546,232z M174.546,276C126.688,276,32,298.998,32,346v54h288v-54  C320,298.998,222.401,276,174.546,276z M337.454,287.003c-6.105,0-10.325,0-17.454,0.997c23.426,17.002,32,28,32,58v54h128v-54  C480,298.998,385.312,287.003,337.454,287.003z"/>
                                            </svg>
                                            Old Pirates
                                        </h4>
                                        <p><span class="sender">Max:</span> Yo-ho-ho!</p>
                                        <span class="properties">
                                            <span class="time">7:00</span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Max Bright</h4>
                                        <p>How about some coffee?</p>
                                        <span class="properties">
                                            <span class="time">
                                                <span class="chat-read">
                                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 16" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                                        <path stroke="null" id="svg_1" d="m6.822331,12.703237l-5.065186,-5.065688c-0.155528,-0.155026 -0.155528,-0.406881 0,-0.561907c0.155026,-0.155528 0.406881,-0.155528 0.561907,0l4.503781,4.504283l8.906219,-8.907724c0.155528,-0.155528 0.406881,-0.155528 0.561907,0c0.155528,0.155026 0.155528,0.406881 0,0.561907l-9.468627,9.469129z"/>
                                                        <path stroke="null" id="svg_2" d="m24.187658,2.676599c-0.161391,-0.161391 -0.42222,-0.161391 -0.58309,0l-9.242504,9.243546l-1.778946,-1.778946l-0.58309,0.58309l2.362037,2.361516l9.825595,-9.826636c0.16087,-0.16035 0.16087,-0.421699 0,-0.58257z"/>
                                                    </svg>
                                                </span>
                                                6:00
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Natalie Parker</h4>
                                        <p>OK, great)</p>
                                        <span class="properties">
                                            <span class="time">
                                                <span class="chat-read">
                                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 16" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
                                                        <path stroke="null" id="svg_1" d="m6.822331,12.703237l-5.065186,-5.065688c-0.155528,-0.155026 -0.155528,-0.406881 0,-0.561907c0.155026,-0.155528 0.406881,-0.155528 0.561907,0l4.503781,4.504283l8.906219,-8.907724c0.155528,-0.155528 0.406881,-0.155528 0.561907,0c0.155528,0.155026 0.155528,0.406881 0,0.561907l-9.468627,9.469129z"/>
                                                        <path stroke="null" id="svg_2" d="m24.187658,2.676599c-0.161391,-0.161391 -0.42222,-0.161391 -0.58309,0l-9.242504,9.243546l-1.778946,-1.778946l-0.58309,0.58309l2.362037,2.361516l9.825595,-9.826636c0.16087,-0.16035 0.16087,-0.421699 0,-0.58257z"/>
                                                    </svg>
                                                </span>
                                                5:00
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>Davy Jones</h4>
                                        <p>
                                            <span class="file">Keynote.pdf</span>
                                        </p>
                                        <span class="properties">
                                            <span class="time">4:00</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="column right-column col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="toolbar">

                        </div>
                    </div>
                    <!--End content columns-->
                </section>
        	</div>
            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                <section id="sidebar-wrapper"></section>
            </div>
            <div class="col-md-12 col-lg-12 hidden-md hidden-lg">
                Your resolution isn't supported yet.
            </div>
        </div>
    </div>

    <script id="sidebar-template" type="text/x-underscore-template" >
        <% if ( inputs.length ) { %>
            <% _.each(inputs, function(input) { %>
                 <div class="form-group">
                    <label style="color:white;" for="input-<%= input.connection %>"><%= input.label %></label>
                    <input type="text" class="form-control" id="input-<%= input.connection %>" value="<%= input.color %>" data-color-swapper data-theme-property="<%= input.connection %>">
                </div>
            <% }) %>
        <% } %>
    </script>
</body>
</html>