<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/thirdparty/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/thirdparty/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" href="assets/thirdparty/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/base.min.css">
    <script data-main="assets/js/main" src="assets/thirdparty/requirejs/require.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1>Telegram theme editor</h1>
        </header>
        <div class="row">
        	<div class="col-md-9 col-lg-9 hidden-xs hidden-sm">
        		<section id="telegram-wrapper">
                    <!--Start titlebar-->
                    <div id="title-bar" data-themeConfig-connection="titleBar">
                        <ul>
                            <li class="minimize-button">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                                    <line y2="9.285714" x2="11.006943" y1="9.285714" x1="0" stroke-width="2" fill="none"/>
                                </svg>
                            </li>
                            <li class="maximize-button" data-themeConfig-connection="titleCloseIcon">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" height="9px" width="10px">
                                    <rect height="9px" width="10px" stroke-width="3" fill="none" />
                                </svg>
                            </li>
                            <li class="close-button" data-themeConfig-connection="titleCloseIcon">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="9px" height="9px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32.526 32.526" style="enable-background:new 0 0 32.526 32.526;" xml:space="preserve">
                                    <polygon points="32.526,2.828 29.698,0 16.263,13.435 2.828,0 0,2.828 13.435,16.263 0,29.698 2.828,32.526 16.263,19.091 29.698,32.526 32.526,29.698 19.091,16.263 "/>
                                </svg>
                            </li>
                        </ul>
                    </div>
                    <!--End titlebar-->

                    <!--Start content columns-->
                    <div class="column left-column col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="toolbar">
                            <span class="hamburger">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" width="18" height="12" xmlns="http://www.w3.org/2000/svg">
                                    <line y1="1" y2="1" x1="0" x2="18" stroke-width="2" fill="none"/>
                                    <line y1="6" y2="6" x1="0" x2="18" stroke-width="2" fill="none"/>
                                    <line y1="11" y2="11" x1="0" x2="18" stroke-width="2" fill="none"/>
                                </svg>
                            </span>
                            <span class="search-bar">
                                <input type="text" placeholder="Search" disabled>
                            </span>
                        </div>

                        <div class="active-chats">
                            <ul>
                                <li class="active">
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>John doe</h4>
                                        <p>You: Hey John, come and party tonight?!</p>
                                        <span class="properties">
                                            <span class="time">11:00</span>
                                            <span class="pin">
                                                <?xml version="1.0" encoding="iso-8859-1"?>
                                                <svg version="1.1" width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 125" fill="black" xml:space="preserve">
                                                    <path d="M60.655,80.21l1.281-17.826L88.497,35.82l8.405-0.604c3.367-0.9,4.104-3.656,1.641-6.121L70.907,1.458  c-2.467-2.468-5.218-1.727-6.121,1.639l-0.603,8.409L37.622,38.063l-17.831,1.285c-4.284,1.145-5.224,4.65-2.085,7.79  c0,0,13.729,13.731,14.793,14.795L5.693,88.819L0,100l11.186-5.692l26.885-26.803c1.066,1.062,14.793,14.794,14.793,14.794  C56.001,85.438,59.506,84.494,60.655,80.21z"/>
                                                </svg>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>John doe</h4>
                                        <p>You: Hey John, come and party tonight?!</p>
                                        <span class="properties">
                                            <span class="time">11:00</span>
                                            <span class="unread">
                                                <span class="counter-wrapper">
                                                    <span class="counter-bg"></span>
                                                    <span class="counter-text">1</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>John doe</h4>
                                        <p>You: Hey John, come and party tonight?!</p>
                                        <span class="properties">
                                            <span class="time">11:00</span>
                                            <span class="unread">
                                                <span class="counter-wrapper">
                                                    <span class="counter-bg inactive"></span>
                                                    <span class="counter-text">1</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                    <div class="message-data">
                                        <h4>John doe</h4>
                                        <p>You: Hey John, come and party tonight?!</p>
                                        <span class="properties">
                                            <span class="time">11:00</span>
                                            <span class="unread">
                                                <span class="counter-wrapper">
                                                    <span class="counter-bg inactive"></span>
                                                    <span class="counter-text">1</span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                </li>
                                <li>
                                    <span class="profile-image">
                                        <img src="assets/img/src/man.png" alt="">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="column right-column col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="toolbar">

                        </div>
                    </div>
                    <!--End content columns-->
                </section>
        	</div>
            <div class="col-md-3 col-lg-3 hidden-xs hidden-sm">
                <section id="sidebar-wrapper"></section>
            </div>
            <div class="col-md-12 col-lg-12 hidden-md hidden-lg">
                Your resolution isn't supported yet.
            </div>
            <!--<label for="" style="color: white; margin-right: 5px;">Title bar</label><input style="margin-top: 50px;" type="text" data-color-swapper data-theme-property="titleBg">-->
        </div>
    </div>

    <script id="sidebar-template" type="text/x-underscore-template" >
        <% if ( inputs.length ) { %>
            <% _.each(inputs, function(input) { %>
                <label style="color:white;" for="input-<%= input.connection %>"><%= input.label %></label>
                <div class="input-group">
                    <span class="input-group-addon"><i></i></span>
                    <input type="text" class="form-control" id="input-<%= input.connection %>" data-color-swapper data-theme-property="<%= input.connection %>">
                </div>
            <% }) %>
        <% } %>
    </script>

</body>
</html>