#options-wrapper {
  padding: 0;
  margin-top: 25px;
  input {
    width: 58%;
    height: 40px;
    border: 0;
    border-bottom: 2px solid $telegram-color-blue;
    @include border-radius(4px);
    padding: 0 8px;
    color: $telegram-color-medium-grey;
  }
  span {
    width: 40%;
    background: red;
    display: inline-block;
    float: right;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: $telegram-color-blue;
    color: $white;
    cursor: pointer;
  }
}