$brand-green: #2ecc71;
$brand-blue: #3498db;
$brand-purple: #9b59b6;
$brand-red: #e74c3c;
$brand-yellow: #f1c40f;
$brand-dark-grey: #34495e;
$brand-orange: #e67e22;
$brand-light-grey: #ecf0f1;
$brand-medium-grey: #95a5a6;

$colors: (
        brand-green: $brand-green,
        brand-blue: $brand-blue,
        brand-purple: $brand-purple,
        brand-red: $brand-red,
        brand-yellow: $brand-yellow,
        brand-dark-grey: $brand-dark-grey,
        brand-orange: $brand-orange,
        brand-light-grey: $brand-light-grey,
        brand-medium-grey: $brand-medium-grey
)
