$brand-green: #2ecc71;
$brand-blue: #3498db;
$brand-purple: #9b59b6;
$brand-red: #e74c3c;
$brand-yellow: #f1c40f;
$brand-dark-grey: #34495e;
$brand-orange: #e67e22;
$brand-light-grey: #ecf0f1;
$brand-medium-grey: #95a5a6;

$white: #ffffff;

$telegram-color-semi-light-grey: #e4e4e4;
$telegram-color-light-grey: #f1f1f1;
$telegram-color-light-grey-hover: #e5e5e5;
$telegram-color-medium-grey: #ababab;
$telegram-color-medium-grey-hover: #9a9a9a;
$telegram-color-red: #e81123;
$telegram-color-grey: #efefef;
$telegram-color-blue: #419fd9;

$colors: (
        brand-green: $brand-green,
        brand-blue: $brand-blue,
        brand-purple: $brand-purple,
        brand-red: $brand-red,
        brand-yellow: $brand-yellow,
        brand-dark-grey: $brand-dark-grey,
        brand-orange: $brand-orange,
        brand-light-grey: $brand-light-grey,
        brand-medium-grey: $brand-medium-grey
)
